<!-- For Black BG -->
<div class="overlay"></div>


<!-- menu for mobile -->
<div class="menuItems">
    <div class="menuHeader">
        <img src="img/logov2.png" width="150px" alt="">
        <p><i class="fa-solid fa-arrow-left"></i> Menu</p>
        <a href="index.html"><i class="fa-solid fa-house"></i> Home</a>
        <a href="all_product.html"><i class="fa-solid fa-box-archive"></i> All Products</a>
        <a href="#"><i class="fa-solid fa-circle-info"></i> About US</a>
        <a href="#"><i class="fa-solid fa-message"></i> Contact Us</a>
    </div>

    <div class="shopBy">
        <h2><i class="fa-solid fa-bars"></i>Shop By</h2>
        <a href="#">All Categories</a>
        <a href="#">Best Seller Product</a>
        <a href="#">New Arrivals</a>
        <a href="#">Top 10 Offers</a>
        <a href="#">Phones & Tablets</a>
        <a href="#">Electronics & Digits</a>
        <a href="#">Fashion & Clothing</a>
        <a href="#">Jewelry & Watches</a>
        <a href="#">TV & Audio</a>
    </div>
</div>



